<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Thymeleafexamples - Spring security</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
	</head>
	<body>
		<div th:fragment="logout" class="logout"
			 sec:authorize="isAuthenticated()">
			Logged user: <span sec:authentication="name">Bob</span> |
			Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
		</div>
		<h1>Thymeleafexamples - Spring security</h1>
		<p>This is a demo of Thymeleaf and Spring-security integration.</p>
	</body>
</html>